// Обнуляющие стили
@import "./reset.scss";

// Шрифты
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
	font-family: "Roboto", sans-serif;
	background-color: rgb(187, 210, 243);
	color: rgba(0, 0, 0, 0.6);
}

.comment__container {
	display: flex;
	flex-direction: column;

	max-width: 800px;
	max-height: 600px;

	background-color: #ffffff;
	border: 2px solid #cecccc;
	border-radius: 20px;

	margin: 50px auto;
	padding: 20px;

	.comment__count {
		border-bottom: 1px solid #cecccc;
		padding-bottom: 10px;
	}

	.comment__list {
		height: 400px;
		overflow: auto;

		.comment__item {
			border: 1px solid #cecccc;
			border-radius: 20px;

			margin: 10px 10px 10px 0;
			padding: 10px;

			.comment__item_name {
				display: inline-block;

				border-bottom: 1px solid #cecccc;
				padding-bottom: 2px;
				margin-bottom: 7px;
			}

			.comment__item_text {
				display: block;

				margin-bottom: 10px;
			}

			.comment__item_footer {
				.comment__item_like {
					margin: 0 3px 0 3px;
				}
				.comment__item_remove {
					margin: 0 3px 0 2px;
				}
				.comment__item_date {
					display: inline-block;
					margin: 2px 3px 0 10px;
				}

				.liked {
					border: 1px solid #df5c5c;
					border-radius: 50%;
				}
			}
		}
	}
	.comment__input {
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		padding-top: 10px;
		border-top: 1px solid #cecccc;

		.comment__option {
			display: flex;
			justify-content: space-between;

			margin-bottom: 10px;

			.comment__option_name {
				position: relative;
				.comment__name_input {
					min-width: 150px;

					border: 1px solid #cecccc;
					border-radius: 10px;

					padding: 5px;
				}

				.invalid {
					border: 1px solid #df5c5c;
					background-color: #df5c5c75;
				}

				.comment__name_notice {
					display: none;
					position: absolute;
					bottom: 30px;
					left: 120px;

					border: 1px solid #cecccc;
					background-color: #e5e5e5;
					border-radius: 8px;

					font-size: 12px;
					white-space: nowrap;

					padding: 5px;
				}
			}
			.comment__option_date {
				.comment__date_input {
					border: 1px solid #cecccc;
					border-radius: 10px;

					padding: 5px;
				}
			}
		}

		.comment__field {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.comment__field_input {
				height: 50px;
				width: 600px;

				border: 1px solid #cecccc;
				border-radius: 10px;
				padding: 5px;

				resize: none;
			}

			.invalid {
				border: 1px solid #df5c5c;
				background-color: #df5c5c75;
			}

			.comment__field_notice {
				display: none;
				position: absolute;
				bottom: 53px;
				right: 180px;

				border: 1px solid #cecccc;
				background-color: #e5e5e5;
				border-radius: 8px;

				font-size: 12px;
				white-space: nowrap;

				padding: 5px;
			}

			.comment__field_button {
				button {
					height: 35px;
					width: 130px;

					background-color: #cecccc;
					border-radius: 10px;
					border: 1px solid #cecccc;

					color: rgba(0, 0, 0, 0.6);

					margin-left: 10px;
				}

				:active {
					background-color: rgb(131, 173, 232);
					color: #ffffff;
				}

				:hover {
					background-color: rgb(187, 210, 243);
					color: #ffffff;
				}
			}
		}
	}
}
